﻿/*

--------------------------------------------

ESTRUTURAÇÃO BASE (Palupa Framework v1)

--------------------------------------------

*** BODY

**** TOPO

**** RODAPÉ

**** COPYRIGHT

**** ESTILOS GERAIS PARA AS PÁGINAS

**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS

**** PÁGINA INICIAL

**** PÁGINAS INTERNAS

**** EXTRAS

**** BOTÕES

**** @MEDIA

*/

body{

	font-family:"Roboto Condensed";

}

/* TOPO */

	.topo{

		min-height:76px;

		



	}

		.topo .navbar{

			position: relative!important;

			min-height: 76px!important;

			margin-bottom: inherit!important;

			border: none!important;

		}

			.topo .navbar .navbar-header{

		

			}

				.topo .navbar  a{

					display:block;

				    margin: 15px 0 0;

				}

					.topo .navbar  a h1{

						background: url(../img/logo3.png);

						display: block;

						width: 311px;

						height: 93px;

						text-indent: -9999em;

						background-repeat: no-repeat;

						margin: 0 auto;

						/* background-size: cover!important; */

					}

				.topo .navbar .navbar-toggle{

					border: solid 1px red;

					margin: 15px;

				}

				.topo .navbar .navbar-toggle .icon-bar{

					background:red;

				}

			.topo .navbar .navbar-collapse{

	

			}

				.topo .navbar .navbar-collapse .navbar-nav{

					margin: 0px 30px 0 0;

					min-height: 0;

					float: right!important;

					padding: 30px 0 0;

				}

					.topo .navbar .navbar-collapse .navbar-nav li{

		

					}

						.topo .navbar .navbar-collapse .navbar-nav li a{

							text-transform:uppercase;

							font-weight:bold;

							color:#F76A00;

							line-height:20px;

							font-size:17px;

						}

							.topo .navbar .navbar-collapse .navbar-nav li a:hover{

								color:#b62329;

								text-decoration:underline;



							}

							.nav>li>a:hover, .nav>li>a:focus{

								background-color:transparent !important;

							}

	@media (max-width: 320px) {

				

	}



/* PG */

	.pg .titulo{

		text-align: center;

		text-transform: uppercase;

		font-size: 30px;

		font-weight: 600;

		margin: 50px auto;

		color: #F76A00;

		letter-spacing: 1px;

		border-bottom: solid;

		max-width: 285px;

	}



/* RODAPE */

	.rodape{

		width:100%;

		background:#FF6D00;

		min-height:100px;

		

		padding:50px 0 0 0;

	}

		.rodape ul{

			list-style:none;

			padding:0;

			margin:0;

			text-align:center;			

		}

			.rodape ul li{

				display: inline-block;

				text-align: left;

				margin: 0 50px;

				color:#fff;

				vertical-align:top;

			}

				.rodape ul li a{

					display:block;

					color:#fff;

				}

				.rodape ul li span{

					font-weight: 600;

					font-size: 16px;

					display:block;

					text-transform: uppercase;

					margin-bottom:10px;

				}

				.rodape ul li p{

					margin:0;

				}

		.copyright{

		

			text-align: center;

			width: 100%;

			margin-top: 70px;

			background: #FF6D00;

		}

			.copyright i{

				color:#fff;

			}

			.copyright p{

				display: inline;

				color: #fff;

				margin: 0 5px;

				font-size: 15px;

			}



/* PÁGINA INICIAL */

	.pg-inicial{



	}

		/* CARROSSEL */

		.pg-inicial .carrossel{

			position:relative;

		}

			.pg-inicial .carrossel{ 

				

			}

				.pg-inicial .carrossel .navegacaoDestqueFrent{

					top: 20%;

					outline:none;

					/* transform: translateY(-50%); */

					position: absolute;

					background: transparent;

					z-index: 23;

					left: 0;

					border: 0;

					color: #fff;

					font-size: 100px;

					margin: 0 25px;

				}

				.pg-inicial .carrossel .navegacaoDestqueTras{

					top: 20%;

					outline:none;

					/* transform: translateY(-50%); */

					position: absolute;

					background: transparent;

					z-index: 23;

					right: 0;

					border: 0;

					color: #fff;

					font-size: 100px;

					margin: 0 25px;

				}

			.pg-inicial .carrossel .item{

				width: 100%;

				height: 650px;

				z-index:1;

			}

				.pg-inicial .carrossel .item .lente{

					width: 100%;

					height: 650px;

					position:relative;

				}

				.pg-inicial .carrossel .item .lente h4{

					top: 20%;

					position: absolute;

					

					text-align: center;

					width: 100%;

					font-size: 50px;

					color: #fff;

					font-weight: 100;

					font-style: italic;

				}

				.pg-inicial .carrossel .item .foto-destaque{

					width: 100%;

					height: 650px;

					background-position:center!important;

					background-size:cover!important;

				}

			.pg-inicial .carrossel .info-contato{

				width: 100%;

				max-width: 285px;

				/* border: solid 1px; */

				position: absolute;

				bottom: 80px;

				right: 80px;

				z-index:2;

			}

				.pg-inicial .carrossel .info-contato .delivery{

					background: #fff;

					text-transform: uppercase;

					font-size: 35px;

					text-align: center;

					color: #FD8A34;

					letter-spacing: 10px;

					z-index:2;

				}

				.pg-inicial .carrossel .info-contato span{

					font-size: 35px;

					color:#fff;

					text-align:center;

					display:block;

					letter-spacing: 3px;

				}

				.pg-inicial .carrossel .info-contato  p{

					color:#fff;

					font-size: 18px;

					text-align: right;

				}

			.pg-inicial .carrossel .botoes-pedido{

				position:absolute;

				bottom:80px;

				z-index:2;

				margin:0 0 0 35px;

			}

				.pg-inicial .carrossel .botoes-pedido .botao-online{

					width: 65px;

					height: 65px;

					background: #fff;

					border-radius: 100%;

					display: inline-block;

					cursor:pointer;

					color:#FD8A34;

					text-align:center;

					line-height: 65px;

					font-size: 35px;

				}

				.pg-inicial .carrossel .botoes-pedido span{

					position: absolute;

					width: 100px;

					color: #FD8A34;

					background: #fff;

					height: 27px;

					line-height: 27px;

					text-align: center;

					border-radius: 5px;

					right:0;

					top: 50%;

					transform: translateY(-50%);

					cursor:pointer;







				}

					.pg-inicial .carrossel .botoes-pedido span:hover {

						background-color:#FD8A34!important;

						color:#fff!important;

					}

				.pg-inicial .carrossel .botoes-pedido .botao-ligar{

					width: 65px;

					height: 65px;

					background: #fff;

					border-radius: 100%;

					display: inline-block;

					cursor:pointer;

					color:#FD8A34;

					text-align:center;

					line-height: 65px;

					font-size: 35px;

				

				}

					.pg-inicial .carrossel .botoes-pedido .botao-ligar:hover{

						/* background-color:#FD8A34!important;

						color:#fff!important;	 */

					}

				.pg-inicial .carrossel .botoes-pedido .correcaoY{

					display: block;

					position: relative;

					height: 65px;

					width: 175px;

					margin:20px;

				

				}

				

		/* PRODUTOS */

		.pg-inicial .produtos{



		}

			.pg-inicial .produtos ul{

				list-style:none;

				margin:0;

				padding:0;

				text-align:center;

			}

				.pg-inicial .produtos ul li{

					display: inline-block;

					max-width: 400px;

					width:100%;

					height: 250px;

					background: #ccc;

					margin:0 50px;

					position:relative;

				}

					.pg-inicial .produtos ul li a{



					}

						.pg-inicial .produtos ul li a .foto-produto{

							display: inline-block;

							max-width: 400px;

							width:100%;

							height: 250px;

							background-size:cover!important;

							background-position:center!important;

						}

							.pg-inicial .produtos ul li a .foto-produto .lente{

								max-width: 400px;

								width:100%;

								height: 250px;

								

							}

								.pg-inicial .produtos ul li a .foto-produto .lente:hover{

									background:rgba(255, 103, 0, 0.7);



								}

								.pg-inicial .produtos ul li a .foto-produto .lente:hover h2{

									color: #fff;

									

									height: 40px;

									border-bottom: solid 2px;



								}

							.pg-inicial .produtos ul li a .foto-produto .lente h2{

								text-transform:uppercase;

								position:absolute;

								top: 40%;

								

								left: 50%;

								transform: translateX(-50%)!important;

								color:transparent;

								letter-spacing: 8px;

								font-weight:100;



							}

		.pg-inicial .produtos .todos-produtos{

			display: block;

			width: 100%;

			text-align: right;

			max-width: 940px;

			margin: 0 auto;

		}

			.pg-inicial .produtos .todos-produtos a{

				color:#F76A00;

				font-size:20px;

				margin:20px;

				display:block;	

			}

				.pg-inicial .produtos .todos-produtos a img{

					margin:5px;	

					width:3%;

				}

		.pg-inicial .bg-fundo{

		    margin: 70px 0 60px;

			min-height: 730px;

			background-size:cover!important;

			background-attachment:fixed!important;

		}

			.pg-inicial .bg-fundo .lente{

				background: rgba(0, 0, 0, 0.57);

				min-height: 730px;

				

			}

		.pg-inicial .sobre-nos{



		}

			.pg-inicial .sobre-nos .foto{

				width: 250px;

				height: 250px;

				margin: 20px auto;

				border-radius: 100%;

				background-size: cover!important;

				background-position: center!important;

			}

				.pg-inicial .sobre-nos p{

					width: 100%;

					margin: 50px auto 0;

					color: #fff;

					font-size: 20px;

					text-align:center;

				}

		.pg-inicial .contato{

			margin-bottom:50px;

		}

			.pg-inicial .contato .form{

				width: 100%;

				max-width: 500px;

				margin: auto;

			}

				.pg-inicial .contato .form .form-group{

			

				}

					.pg-inicial .contato .form .form-group label{

				

					}

					.pg-inicial .contato .form .form-group .form-control{

						border-bottom: solid 1px;

						border-radius: 0;

						border-left: 0;

						height: 40px;

						border-right: 0;

						border-top: 0;

						border-color:#FF6D00;

						webkit-box-shadow:none!important;

						box-shadow: none!important;

						-webkit-transition: none!important;

						-o-transition: none!important;

						transition: none!important;

						padding:0;

					}

					.pg-inicial .contato .form .form-group  textarea{

						width:100%;

						max-width:100%;

						height:120px;

						max-height:120px;

						border-right: 0;

						border-top: 0;

					    margin: 25px 0 0 0;

						border-left: 0;

						outline:none;

						border-color:#FF6D00;

					}

					.pg-inicial .contato .form 

					input,

					textarea {

					    

					}



					::-webkit-input-placeholder {

						font-family:"Roboto Condensed"!important;



					}



					:-moz-placeholder {

					  	font-family:"Roboto Condensed"!important;



					}



					::-moz-placeholder {

						font-family:"Roboto Condensed"!important;



					}



					:-ms-input-placeholder {  

					   font-family:"Roboto Condensed"!important;



					}					

					

					.pg-inicial .contato .mapa{

						width: 100%;

						max-width: 500px;

						margin: 0 auto;

					}

						.pg-inicial .contato .mapa iframe{

							width:100%;

							height:370px;

						}

				.pg-inicial .contato .botao-enviar{

					width:100%;

					text-align:right;

					margin:20px 0;

				}

					.pg-inicial .contato .enviar{

						background: #FF6D00;

						border: 0;

						color: #fff;

						width: 150px;

						height: 40px;

						line-height: 40px;

						border-radius: 20px;

						text-transform: uppercase;

						font-size: 20px;

					}



/* NOSSOS PRODUTOS */

	.pg-nossos-produtos{

		

	}

		.pg-nossos-produtos .bg-fundo{

			background-size:cover!important;

			background-position:center!important;

			background-attachment:fixed!important;



		}

		.pg-nossos-produtos .bg-fundo .lente{

			min-height: 870px;

			background: rgba(0, 0, 0, 0.58);

		}

			.pg-nossos-produtos .bg-fundo .lista{



			}

				.pg-nossos-produtos .bg-fundo .lista h3{

					color: #F76A00;

					margin-left: 60px;

				}

				.pg-nossos-produtos .bg-fundo .lista .lista-produtos{

					width: 100%;

					max-width: 350px;

					margin: 0 auto;

				}

					.pg-nossos-produtos .bg-fundo .lista .lista-produtos a{

						display: block;

						font-size: 25px;

						color: #fff;

						margin: 15px 0;

						position:relative;

						outline:none;

					}

						.pg-nossos-produtos .bg-fundo .lista .lista-produtos a span{

							background-size: cover!important;

							background-position: center!important;

							display: block;

							position: absolute;

							width: 100px;

							height: 100px;

							right:0;

							border-radius: 100%;

							top: -25px;

							display:none;



						}

						.pg-nossos-produtos .bg-fundo .lista .lista-produtos a:hover{

							color: #F76A00;

						}

						.pg-nossos-produtos .bg-fundo .lista .lista-produtos a:hover span{

							display:block;

						}

						.pg-nossos-produtos .bg-fundo .lista  .pastel a:hover{

							color: #58A6E8;

						}

						.pg-nossos-produtos .bg-fundo .lista .lista-produtos a::before{

							content: '';

							background: #fff;

							width: 13px;

							height: 13px;

							display: block;

							position: absolute;

							left: -20px;

							bottom: 7px;

							border-radius: 100%;

						}



/* PÁGINA DO PRODUTO */

	.pg-single-produto{

		border-top:solid 1px #FF6D00 ;

		font-family:"Roboto Condensed";



	}	

		.correcaoY{

			margin-top:30px;

		}

		.pg-single-produto h2{

			color: #FF6D00;

			text-align: center;

		}

		.pg-single-produto .ingredientes{

			

		}

			.pg-single-produto .ingredientes span{

				text-transform: uppercase;

				font-size: 20px;

				color: #FF6D00;

			    margin: 20px 0 5px;

			    display:block;

			}

			.pg-single-produto .ingredientes p{

			    padding: 0 20px;

			}

		.pg-single-produto .modo-conservacao{

		

		}

			.pg-single-produto .modo-conservacao span{

				text-transform: uppercase;

				font-size: 20px;

				color: #FF6D00;

			    margin: 20px 0 5px;

			    display:block;

			}

			.pg-single-produto .modo-conservacao p{

			    padding: 0 20px;	

			}

		.pg-single-produto .info{



		}

			.pg-single-produto .info span{

				text-transform: uppercase;

				font-size: 20px;

				color: #FF6D00;

				margin: 20px 0 5px;

				display:block;

			}

			.pg-single-produto .info p{

				padding: 0 20px;

			}

		.pg-single-produto .foto{

			width: 100%;

			height: 550px;

			background-size:cover!important;

			background-position:center!important;

		}

		.pg-single-produto .modal-dialog{



		}

			.pg-single-produto .modal-dialog .modal-content{



			}

				.pg-single-produto .modal-dialog .modal-content .modal-header{



				}

					.pg-single-produto .modal-dialog .modal-content .close{



					}

					.pg-single-produto .modal-dialog .modal-content .modal-body{

						padding:0;

					}

						.pg-single-produto .modal-dialog .modal-content .modal-body .tabela{

				

						}

							.pg-single-produto .modal-dialog .modal-content .modal-body .tabela p{

								padding: 10px;

								border-top: solid 1px #ccc;

								margin: 0;

							}

							.pg-single-produto .modal-dialog .modal-content .modal-body .tabela .titulo-modal{

								text-align: center;

								text-transform: uppercase;

								font-size: 20px;

								color: #FF6D00;

								width: 100%;

								border-bottom: solid 1px;

							}

							.pg-single-produto .modal-dialog .modal-content .modal-body .tabela span{

								text-align: center;

								display: block;

								font-size: 20px;

								font-weight: 300;

								color: #FF6D00;

							}

							.pg-single-produto .modal-dialog .modal-content .modal-body .tabela .table{

								margin:0;

							}

								.pg-single-produto .modal-dialog .modal-content .modal-body .tabela .table tr {



								}

								.pg-single-produto .modal-dialog .modal-content .modal-body .tabela .table .bg{

									background:#FBF8F8;

								}

									.pg-single-produto .modal-dialog .modal-content .modal-body .tabela .table tr th{



									}

									.pg-single-produto .modal-dialog .modal-content .modal-body .tabela .table tr td{



									}

									.pg-single-produto .modal-dialog .modal-content  .close-footer{

										background: #FF6D00;

										border: 0;

										color: #fff;

										font-weight: 900;

										text-transform: uppercase;

										height: 40px;

										width: 100px;

										border-radius: 10px;

									}



/* PÁGINA DO MODAL */

	.infoproduto{

		

		font-family:"Roboto Condensed";



	}	

		.infoproduto .correcaoY{

			margin-top:0;

		}

		.infoproduto .correcaoX{

			padding:10px;

		}

		.infoproduto h2{

			color: #FF6D00;

			text-align: center;

		}

		.infoproduto .login{

			display: block;

			width: 100%;

			background: #FF6D17;

			height: 41px;

			max-width: 200px;

			margin: 0 auto;

			color: #fff;

			text-align: center;

			line-height: 40px;

			font-size: 17px;

			text-transform: uppercase;

			border-radius: 5px;

			font-weight: 600;	

		}

			.infoproduto .login:hover{

				background:#337AB7;

			}

			.infoproduto .ingredientes span{

				text-transform: uppercase;

				font-size: 20px;

				color: #FF6D00;

			    margin: 20px 0 0 0;

			    display:block;

			}

			.infoproduto .ingredientes p{

			    padding: 0 20px;

			}

		.infoproduto .modo-conservacao{

		

		}

			.infoproduto .modo-conservacao span{

				text-transform: uppercase;

				font-size: 20px;

				color: #FF6D00;

			    margin: 20px 0 5px;

			    display:block;

			}

			.infoproduto .modo-conservacao p{

			    padding: 0 20px;	

			}

		.infoproduto .info .link-modal{

			color:#FF6D2F;

		}

			.infoproduto .info span{

				text-transform: uppercase;

				font-size: 20px;

				color: #FF6D00;

				margin: 20px 0 5px;

				display:block;

			}

			.infoproduto .info p{

				padding: 0 20px;

			}

		.infoproduto .foto{

			width: 100%;

			height: 572px;

			background-size:cover!important;

			background-position:center!important;

		}

		.infoproduto .modal-dialog{



		}

			.infoproduto .modal-dialog .modal-content{



			}

				.infoproduto .modal-dialog .modal-content .modal-header{



				}

					.infoproduto .modal-dialog .modal-content .close{

					    margin: 5px;

					    font-size:40px;

					    z-index:2;

					}

					.infoproduto .modal-dialog .modal-content .modal-body{

						padding:0;

					}

						.infoproduto .modal-dialog .modal-content .modal-body .tabela{

				

						}

							.infoproduto .modal-dialog .modal-content .modal-body .tabela p{

								padding: 10px;

								border-top: solid 1px #ccc;

								margin: 0;

							}

							.infoproduto .modal-dialog .modal-content .modal-body .tabela .titulo-modal{

								text-align: center;

								text-transform: uppercase;

								font-size: 20px;

								color: #FF6D00;

								width: 100%;

								border-bottom: solid 1px;

								z-index:1;

							}	

							.infoproduto .modal-dialog .modal-content .modal-body .tabela span{

								text-align: center;

								display: block;

								font-size: 20px;

								font-weight: 300;

								color: #FF6D00;

							}

							.infoproduto .modal-dialog .modal-content .modal-body .tabela .table{

								margin:0;

							}

								.infoproduto .modal-dialog .modal-content .modal-body .tabela .table tr {



								}

								.infoproduto .modal-dialog .modal-content .modal-body .tabela .table .bg{

									background:#FBF8F8;

								}

									.infoproduto .modal-dialog .modal-content .modal-body .tabela .table tr th{



									}

									.infoproduto .modal-dialog .modal-content .modal-body .tabela .table tr td{



									}

									.infoproduto .modal-dialog .modal-content  .close-footer{

										background: #FF6D00;

										border: 0;

										color: #fff;

										font-weight: 900;

										text-transform: uppercase;

										height: 40px;

										width: 100px;

										border-radius: 10px;

									}



/* QUEM SOMOS */

	.pg-quem-smos{

		border-top: solid 1px #F76A4F;

		padding: 20px 0;

	}

		.pg-quem-smos .bg-quem-somos{

			width: 100%;

			height: 270px;

			background-size: cover!important;

			border-radius:5px;

		}

			.pg-quem-smos .bg-quem-somos .lente{

				width: 100%;

				height: 270px;

				background: rgba(0, 0, 0, 0.12);

			    line-height: 270px;

			}

			.pg-quem-smos .bg-quem-somos p{

				color: #fff;

				font-size: 54px;

				text-align: center;

				font-weight: 100;

				letter-spacing: 2px;



			}

			.pg-quem-smos .texto{

				padding: 20px;

				text-align: center;

				font-size: 16px;

				font-weight: 100;

			}	

		.pg-quem-smos .carrossel-quem-somos{

			margin-top:50px;

		}

			.pg-quem-smos .carrossel-quem-somos .item{

				

			}

			.pg-quem-smos .carrossel-quem-somos .item .bg{

				height: 148px;

				width: 227px;

				margin: 10px;



				background-size: cover!important;

				background-position: center!important;

			}



/* MÉDIA */

	@media (max-width: 1024px) {

		.pg-inicial .produtos .todos-produtos{

			text-align:center;

		}

		.pg-inicial .produtos .todos-produtos a{

			font-size:22px;

		}

		.pg-inicial .contato .form{

			padding:10px;

		}

		.pg-inicial .contato .mapa{

			padding:10px;

		}

		.rodape ul li{

			margin:0 0 0 40px;

		}

		

	}

	@media (max-width: 768px){

		.topo .navbar .navbar-collapse .navbar-nav{

			padding:0;

		}

		.pg-inicial .produtos ul li{

			margin-top:10px;

		}

		.rodape ul li {

		    margin: 0 0 0 30px;

		}

		.infoproduto .foto{

			height:0;

		}

		.pg-nossos-produtos .bg-fundo .lista h3{

			text-align:center;

			margin:0;

		}

		.pg-nossos-produtos .bg-fundo .lista .lista-produtos{

		    padding: 0 0 0 40px;

		}

	}

	@media (max-width: 768px){

		.pg-inicial .produtos ul li{

			margin:0;

		}

		.pg-inicial .sobre-nos p{

			padding:10px;

		}

	}

	@media (max-width: 425px){

		.rodape ul li{

			margin: 0px 0 20px 0;

			display: block;

			text-align: center;

		}

		.pg-inicial .carrossel .botoes-pedido{

			display:none;

		}

		.pg-inicial .carrossel .info-contato p{

			text-align:center;

		}

		.pg-inicial .produtos .todos-produtos a img{

			width:10%;

		}

		.topo .navbar .navbar-collapse .navbar-nav{

			width:100%;

			margin:0;

		}

		.topo .navbar .navbar-collapse .navbar-nav li{

			text-align:left;

		}

		.topo .navbar .navbar-collapse .navbar-nav li a{

			

			line-height: 10px;

			

		}

		.topo .navbar .navbar-collapse{

			background: #F5F5F5;

			border-top: solid 1px #F76A35;

			border-bottom: solid 1px #F76A35;

		}

	}

	@media (max-width: 320px){

		.pg-inicial .carrossel .info-contato{

			right: 40px;

		    max-width: 255px;

		}

	}
	