/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
body{
	font-family: "Roboto Condensed";
}
/* TOPO */
	.topo{
		min-height: 130px;
		z-index: 2;
		width: 100%;
		background: #fff;
		border-bottom: solid 1px #FF6D00;

	}
		.topo .navbar{
			position: relative!important;
			min-height: 76px!important;
			margin-bottom: inherit!important;
			border: none!important;
			z-index:2;
		}
			.topo .navbar .navbar-header{

			}
				.topo .navbar  a{
					display:block;
				    margin: 15px 0 0;
				}
					.topo .navbar  a h1{
						background: url(../img/logo3.png);
						display: block;
						width: 303px;
						height: 93px;
						text-indent: -9999em;
						background-repeat: no-repeat;
						margin: 0 auto;
						/* background-size: cover!important; */
					}
				.topo .navbar .navbar-toggle{
					border: solid 1px red;
					margin: 15px;
				}
				.topo .navbar .navbar-toggle .icon-bar{
					background:red;
				}
			.topo .navbar .navbar-collapse{

			}
				.topo .navbar .navbar-collapse .navbar-nav{
					margin: 0px 30px 0 0;
					min-height: 0;
					float: right!important;
					padding: 30px 0 0;
				}
					.topo .navbar .navbar-collapse .navbar-nav li{

					}
						.topo .navbar .navbar-collapse .navbar-nav li a{
							text-transform:uppercase;
							font-weight:bold;
							color:#F76A00;
							line-height:20px;
							font-size:17px;
						}
							.topo .navbar .navbar-collapse .navbar-nav li a:hover{
								color:#b62329;
								text-decoration:underline;

							}
							.nav>li>a:hover, .nav>li>a:focus{
								background-color:transparent !important;
							}
/* RODAPE */
	.rodape{
		width:100%;
		background:#FF6D00;
		min-height:100px;
		margin-top: 60px;
		padding:50px 0 0 0;
	}
		.rodape ul{
			list-style:none;
			padding:0;
			margin:0;
			text-align:center;
		}
			.rodape ul li{
				display: inline-block;
				text-align: left;
				margin: 0 50px;
				color:#fff;
				vertical-align:top;
			}
				.rodape ul li a{
					display:block;
					color:#fff;
				}
				.rodape ul li span{
					font-weight: 600;
					font-size: 16px;
					display:block;
					text-transform: uppercase;
					margin-bottom:10px;
				}
				.rodape ul li p{
					margin:0;
				}
		.copyright{

			text-align: center;
			width: 100%;
			margin-top: 70px;
			background: #FF6D00;
		}
			.copyright i{
				color:#fff;
			}
			.copyright p{
				display: inline;
				color: #fff;
				margin: 0 5px;
				font-size: 15px;
			}

/*MENSSAGENS*/
	.mensagem-conta{
		text-align:center;
		color:#6B6A6A;
		font-size:16px;
		padding:20px;
	}
		.mensagem-conta span{
			color: #EF6700;
			text-decoration:underline;
		}

	.label-primary{
		background-color: #FF6D00!important;
    	border-color: #fff!important;
    	color: #fff!important;
    	font-size: 12px!important;
	}
	.btn-primary{
		background-color: #FF6D00!important;
    	border-color: #fff!important;
    	color: #fff!important;
    	font-size: 17px!important;
	}
		.btn-primary:hover .badge{
			background-color: #FF6D00!important;
			color:#fff!important;
		}
	.btn-primary .badge{
		color:#FF6D00!important;
	}
	.wizard>.steps>ul>li{
		width: 33%!important;
	}
	.wizard>.content{
		min-height: 24em!important;
	    overflow: inherit!important;
	}
	.wizard>.content>.body{
		position: inherit!important;
	}

	.error{
		color: red;
		text-transform: uppercase;
		font-style: italic;
	}
/* PG */
	.pg{

	}


		.pg input,textarea {

		}

		::-webkit-input-placeholder {
		   color: #828282!important;

		}

		:-moz-placeholder {
		   color: #828282!important;

		}

		::-moz-placeholder {
		   color: #828282!important;

		}

		:-ms-input-placeholder {
		   color: #828282!important;

		}


		.pg .titulo{
			font-size: 23px;
			text-transform: uppercase;
			font-weight: 600;
			color:#EF6700;

		}
	.pg .sub-titulo{
		text-align:center;
		color:#FF6D00;
	    margin: 20px 0 0;
	    text-transform:uppercase;
	    font-size:17px;
	}
		.pg .sub-titulo span{
			font-weight:700;
		}
	.pg .info{
		color: #FF6D00;
		text-align: center;
		display: block;
		font-size: 17px;
		margin-top: 60px;

	}
	.pg  .botoes{
		text-align: center;
	}
	.pg  .botoes a{
			width: 100%;
			max-width: 150px;
			border-radius: 4px;
			border: 0;
			background: #AFAFAF;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			outline: none;
			height: 40px;
			margin-top: 10px;
			text-transform: uppercase;
			display:inline-block;
			line-height:40px;

		}
			.pg .botoes a:hover{
				background:#FF6D00;
			}
/* PÁGINA DE LOGIN */
	.pg-login{
		margin-top:30px;
	}
		.borda{
			border-left:solid 1px #ccc;
		}
		.pg-login .login{
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
		    min-height: 315px;
		    display:block;
	        padding-top: 50px;
		}
			.pg-login .login p{
				font-size: 23px;
				text-transform: uppercase;
				font-weight: 600;
				color:#EF6700;
			}
			.pg-login .login .form-group{
				position:relative;
			    width: 100%;
		        height: 35px;
	            margin-bottom: 20px;
			}
				.pg-login .login .form-group .form-control{
					width:100%;
					border-top: 0;
					border-right: 0;
					border-left: 0;
					border-radius: 0;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					box-shadow: inherit!important;
					-webkit-transition: inherit!important;
					-o-transition: inherit!important;
					transition: inherit!important;
				}
				.pg-login .login .form-group i{

				}
					.pg-login .login .form-group  .entrar{
						width: 100%;
						max-width: 100px;
						border-radius: 4px;
						border: 0;
						background: #AFAFAF;
						color: #fff;
						font-weight: 600;
						font-size: 14px;
						outline: none;
					    height: 40px;
					    margin-top: 40px;
					    text-transform:uppercase;
					}
						.pg-login .login .form-group  .entrar:hover{
							background:#FF6D00;
						}
			.pg-login .login .face{
				    background: #337ab7;
				    color: #fff;
				    height: 40px;
				    display: inline-block;
				    width: 100%;
				    max-width: 195px;
				    border-radius: 4px;
				    text-align: center;
				    line-height: 30px;
				    vertical-align: top;
				    padding-left: 30px;
				    font-weight: 600;
				    font-size: 14px;
				    position: relative;
				    margin-top: 40px;
			}
				.pg-login .login .face i{
					    left: 0;
					    /* font-size: 25px; */
					    border-right: solid 1px #fff;
					    /* height: 40px; */
					    width: 40px;
					    padding: 8px 0;
					    text-align: center;
					    position: absolute;
				}
			.pg-login .login .recuperar-senha{
				display: block;
				font-size: 12px;
				color: #000;
			}
	.pg-login .cadastro{
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	    min-height: 315px;
	    display:block;
        padding-top: 50px;
	}
		.pg-login .cadastro p{
			font-size: 23px;
			text-transform: uppercase;
			font-weight: 600;
			color:#EF6700;
		}
		.pg-login .cadastro .form-group{
			position:relative;
			width: 100%;
			height: 35px;
			margin-bottom: 20px;
		}
			.pg-login .cadastro .form-group .form-control{
				width:100%;
				border-top: 0;
				border-right: 0;
				border-left: 0;
				border-radius: 0;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				box-shadow: inherit!important;
				-webkit-transition: inherit!important;
				-o-transition: inherit!important;
				transition: inherit!important;
			}
			.pg-login .cadastro .form-group .cadastrar{
				width: 100%;
				max-width: 150px;
				border-radius: 4px;
				border: 0;
				background: #AFAFAF;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				outline: none;
				height: 40px;
				margin-top: 10px;
				text-transform: uppercase;
			}
				.pg-login .cadastro .form-group .cadastrar:hover{
					background:#FF6D00;
				}

/* PÁGINA DE CADASTRO */
	.pg-cadastro{

	}
		.pg-cadastro .form-cadastro{
			width: 100%;
			max-width: 340px;
			margin: 0 auto;
		}
			.pg-cadastro .form-cadastro p{
				/* font-size: 23px;
				text-transform: uppercase;
				font-weight: 600;
				color:#EF6700;
				text-align:center; */

			}
				.pg-cadastro .form-cadastro p i{

				}
			.pg-cadastro .form-cadastro .form-group{
				position:relative;
			    width: 100%;
		        height: 35px;
	            margin:30px 0;
			}
				.pg-cadastro .form-cadastro .form-group label{
					display:none;
				}
				.pg-cadastro .form-cadastro .form-group .form-control{
					width:100%;
					border-top: 0;
					border-right: 0;
					border-left: 0;
					border-radius: 0;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					box-shadow: inherit!important;
					-webkit-transition: inherit!important;
					-o-transition: inherit!important;
					transition: inherit!important;
				}
			.pg-cadastro .form-cadastro .btn-primary{
				width: 100%!important;
				/* max-width: 150px!important; */
				max-width: auto;
				border-radius: 4px!important;
				border: 0!important;
				background: #AFAFAF!important;
				color: #fff!important;
				font-weight: 600!important;
				font-size: 14px!important;
				outline: none!important;
				height: 40px!important;
				margin-top: 10px!important;
				text-transform: uppercase!important;
				display:block;
			}
				.pg-cadastro .form-cadastro .btn-primary:hover{
					background:#FF6D00!important;
				}
			.pg-cadastro a{
				display:block;
				text-decoration:underline;
				color:#AFAFAF;
				margin-top:10px;
				font-style:italic;
				font-size:15px;
			}

/*PÁGINA MINHA CONTA */
	.pg-minha-conta{
		margin-top:30px;
	}
		.pg-minha-conta .titulo{
			font-size: 23px;
			text-transform: uppercase;
			font-weight: 600;
			color:#EF6700;

		}
	.pg-minha-conta .borda{
		border:solid 1px #ccc;;
	}
		.pg-minha-conta .sidebar{
			width:100%;
			padding:20px;
		    background: #F7F7F7;
		    border-right:solid #ccc 1px;
	        min-height: 700px;

		}
			.pg-minha-conta .sidebar .perfil .foto{
				background-size:cover!important;
				background-position:center!important;
				height: 90px;
				width: 90px;
				border-radius: 100%;
				margin: 0 auto;
				border: solid 1px #ccc;
				background: url(../img/user.png);
			}
			.pg-minha-conta .sidebar .perfil {
				text-align:center;
			}
			.pg-minha-conta .sidebar .perfil  span{

					color:#FF6D00;

			}
			.pg-minha-conta .sidebar .perfil  span .sair{
				color: #337ab7;
				display: block;
				width: 100%;
				text-align: center;
				margin:0 0 0 0;
			}
				.pg-minha-conta .sidebar .perfil  span .sair:hover{
					color:#FF6D00;
				}
			.pg-minha-conta .sidebar .menu{

				display: block;

				color: #6B6A6A;
				width: 100%;
				max-width: 140px;
				margin: 10px auto;
			}
				.pg-minha-conta .sidebar .menu:hover{

					color:#FF6D00;
				}
		.pg-minha-conta .frete{
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
		}
			.pg-minha-conta .frete p{
				text-align:center;
				color:#FF6D00;
			    margin: 20px 0 0;
			    text-transform:uppercase;
			    font-size:17px;
			}
			.pg-minha-conta .frete input{
				display:block;
				margin:5px auto;
				padding:5px;
			}
			.pg-minha-conta .frete .result{

			}
			.pg-minha-conta .frete .calcular{
				width: 100%;
				max-width: 150px;
				border-radius: 4px;
				border: 0;
				background: #AFAFAF;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				outline: none;
				height: 40px;
				margin-top: 10px;
				text-transform: uppercase;
			}
				.pg-minha-conta .frete .calcular:hover{
					background:#FF6D00;
				}
				.pg-minha-conta .frete .result{
					color:#FF6D00;
					text-transform:uppercase;
					font-weight:600;
					font-size:17px;
					margin-top:20px;
				}
	/* CORREÇÕES PÁGONA CALCULAR FRETE */
	.pg-minha-conta .frete .correcaoY{
		padding: 50px 0 0 0;
	}
	/* PÁGINA DADOS CADASTRAIS */
	.pg-minha-conta .form-cadastro{
			width: 100%;
			max-width: 340px;
			margin: 0 auto;
		}
			.pg-minha-conta .form-cadastro p{
				font-size: 23px;
				text-transform: uppercase;
				font-weight: 600;
				color:#EF6700;
				text-align:center;
				margin: 20px 0;
			}
				.pg-minha-conta .form-cadastro p i{

				}
			.pg-minha-conta .form-cadastro .form-group{
				position:relative;
			    width: 100%;
		        height: 35px;
	            margin-bottom: 20px;
			}
				.pg-minha-conta .form-cadastro .form-group .form-control{
					width:100%;
					border-top: 0;
					border-right: 0;
					border-left: 0;
					border-radius: 0;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					box-shadow: inherit!important;
					-webkit-transition: inherit!important;
					-o-transition: inherit!important;
					transition: inherit!important;
				}
			.pg-minha-conta .form-cadastro .cadastrar{
				width: 100%;
				max-width: 150px;
				border-radius: 4px;
				border: 0;
				background: #AFAFAF;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				outline: none;
				height: 40px;
				margin-top: 10px;
				text-transform: uppercase;
			}
				.pg-minha-conta .form-cadastro .cadastrar:hover{
					background:#FF6D00;
				}
		.pg-minha-conta .meus-pedios{
			list-style:none;
			margin:0;
			padding:20px;
		}
			.pg-minha-conta .meus-pedios li{
				display:inline-block;
			   	margin: 0 50px 0 0;
			}
				.pg-minha-conta .meus-pedios p{
					margin:0;
				}
					.pg-minha-conta .meus-pedios span{
						font-weight:bold;
					    color: #EF6700;
					}
				.pg-minha-conta .meus-pedios a{

				}

/* PÁGINA DE PEDIDOS */
	.pg-pedido{

	}
		.pg-pedido .area-pedido{
			border:solid 1px #ccc;
			padding:10px;

		}
		.pg-pedido .form-control{
			font-size: 16px;
			height:50px;
			color: #EF6700;

		}
		.pg-pedido .bg-fundo{
			width:100%;
		    min-height: 643px;
			background-position:center!important;
			background-size:cover!important;
			background-attachment: fixed!important;

		}
			.pg-pedido .bg-fundo .lente{
				width:100%;
				    min-height: 643px;
				background: rgba(0, 0, 0, 0.71);


			}
			.pg-pedido .bg-fundo .lente img{
				width: 100%;
				max-width: 165px;
			}
				.pg-pedido .form-group textarea{
					height: 150px;
					max-height: 150px;
					width: 100%;
					max-width: 570px;
				}
		.pg-pedido .info-opolitica{
			width: 100%;
			padding: 0 10px;
		}
			.pg-pedido .info-opolitica .panel-group{
		        margin-bottom: 12px;
			}
				.pg-pedido .info-opolitica .panel-default>.panel-heading{
				    height:50px;
				    padding:0;
				}
					.pg-pedido .info-opolitica .panel-default>.panel-heading h4 a{
						display: block;
						width: 100%;
						height: 50px;
						line-height: 50px;
						padding: 0 0 0 30px;
					    position: relative;
					    text-transform:uppercase;
					}
						.pg-pedido .info-opolitica .panel-default>.panel-heading h4 a:hover i{
							color: #EF6700;
						}
						.pg-pedido .info-opolitica .panel-default>.panel-heading h4 a i{
							position: absolute;
							right: 0;
							margin: 15px 20px 0;
							font-size: 20px;
						}
					.pg-pedido .info-opolitica .panel-body{
						padding:20px;
					}
			.pg-pedido .enviar{
				width: 100%;
				max-width: 170px;
				border-radius: 4px;
				border: 0;
				background: #AFAFAF;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				outline: none;
				height: 40px;
				margin-top: 10px;
				text-transform: uppercase;
			}
				.pg-pedido .enviar:hover{
					background:#FF6D00;
				}
				.pg-pedido .checkbox-inline{
					color:#FF6D00;
					text-transform:uppercase;
					margin:10px 0;
				}
				.pg-pedido .checkbox{
					color:#FF6D00;
					text-transform:uppercase;

				}
		.pg-pedido .meus-pedios{
			list-style:none;
			margin:0;
			padding:20px;
		}
			.pg-pedido .meus-pedios li{
				display:block;
			   	margin:25px 50px 0 0;
		   	    width: 100%;
		   	    position:relative;
			}
				.pg-pedido .meus-pedios li .radio{
					position:absolute;
					right:100px;
					top: 0;

				}
						.pg-pedido .meus-pedios li .radio .botao-radio{
							height: 25px;
    						width: 25px;
						}
				.pg-pedido .meus-pedios p{
					margin:0;
				}
					.pg-pedido .meus-pedios span{
						font-weight:bold;
					    color: #EF6700;
					}
				.pg-pedido .meus-pedios a{

				}
		.page-header{
			min-height:70px;
		}
		.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{
			height: 45px;
			font-size: 16px;
		}
		.btn-sm, .btn-group-sm>.btn{
			height: 40px;
    		line-height: 30px;
    		font-size: 15px;
		}
		.wizard>.actions a, .wizard>.actions a:hover, .wizard>.actions a:active{
			line-height: 26px;
    		font-size: 15px;
    		height: 40px;
		}
	/* ÁREA DE CONFIRMAÇÕES */
	.pg-pedido .table{
		text-align:center;
		margin-bottom: 80px;
		border-bottom: solid 1px #ccc;


	}
	.pg-pedido  .sub-titulo-fom{
		text-align:left;
		font-weight:bold;
		color:#FF6D00;
	    margin: 20px 0 0;
	    text-transform:uppercase;
	    font-size:17px;


	}
	.pg-pedido  .sub-titulo-fom i{
		font-size:25px;


	}
		.pg-pedido .table tr{

		}
			.pg-pedido .table tr th{
				text-align:center;
				color:#EF6700;
			}
				.pg-pedido .table tr td{

				}
			.pg-pedido .enviar{
				max-width: 230px;
				text-align: center;
				margin: 0 40px;
			}
					.pg-pedido #cancelar:hover{
						background:red;
					}
					.pg-pedido #enviar:hover{
						background:#00FFB8;
					}
					 .tabela-pedido{
						overflow-x: scroll;
					}
		/* CONFIRMAÇÃO */
		.pg-pedido .mensagem-confirmacao{
			text-transform: uppercase;
			font-size: 25px;
			color: #3c763d;
			text-align:center;
			margin:50px 0;
		}
			.pg-pedido .mensagem-confirmacao p{

			}
			.pg-pedido .mensagem-confirmacao p i{
				 font-size: 40px;

			}
				.pg-pedido .mensagem-erro {
					text-transform: uppercase;
					font-size: 25px;
					color: red;
					text-align:center;
					margin:50px 0;
				}
					.pg-pedido .mensagem-erro p span{
						-ms-transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
						display: block;
						font-size: 50px;
						max-height: 40px;
					}
					.pg-pedido .mensagem-erro span{

					}

/* MÉDIA */
	@media (max-width: 1024px) {

		.rodape ul li{
			margin:0 0 0 40px;
		}

	}
	@media (max-width: 991px) {

		.borda{
			border-top:solid 1px #ccc;
			border-left: inherit;
		}
		.pg-minha-conta .sidebar{
			min-height: 300px;
		}
		.pg-minha-conta .sidebar .menu{
			text-align:center;
		}
	}
	@media (max-width: 768px){
		.topo .navbar .navbar-collapse .navbar-nav{
			padding:0;
		}

		.rodape ul li {
		    margin: 0 0 0 30px;
		}
		.btn-primary{
			margin:0 auto;
		}
		.pull-right{
			float:inherit!important;

    		margin: 10px 0;
		}
		.page-header{
			text-align:center;
		}



	}
	@media (max-width: 445px){
		.wizard>.steps>ul>li{
			float:inherit!important;
			width: 100%!important;
			text-align: center;
			font-size: 17px;
		}
	}

	@media (max-width: 425px){
		.rodape ul li{
			margin: 0px 0 20px 0;
			display: block;
			text-align: center;
		}
		.pg-login{
			padding:10px;
		}
		.pg-login .cadastro p{
			text-align:center;
		}
		.pg-login .login p{
			text-align:center;
		}
		.borda{
			border:none;
		}
		.pg-login .login .face{
			max-width: 178px;
		}

		.topo .navbar .navbar-collapse .navbar-nav{
			width:100%;
			margin:0;
		}
		.topo .navbar .navbar-collapse .navbar-nav li{
			text-align:left;
		}
		.topo .navbar .navbar-collapse .navbar-nav li a{

			line-height: 10px;

		}
		.topo .navbar .navbar-collapse{
			background: #F5F5F5;
			border-top: solid 1px #F76A35;
			border-bottom: solid 1px #F76A35;
		}
		.pg-cadastro .form-cadastro .btn-primary{
			margin:0 auto;
		}
		.pg-cadastro a{
			text-align:center;
		}
		.error{
			text-align:center;
			display:block;
		}
	}

	/* DEVELOPERS */
.developers{
	background:#4A4A4A;
}
	.developers span{
		color:#fff;
	}
	.developers .area a{
		text-transform:uppercase;
		font-weight:bold;
		color:#fff;
	}
		.developers a b{

		}
.col-height-360 {
	max-height: 360px;
	height: 360px;
}

.col-inherit-height {
	height: 100%;
	margin-left: 2%;
}

i.fa.fa-star {
	color: #E5E500;
}

.obs-payment {
	font-size: 12px;
	color: red;
}

.disable-pointer {
    pointer-events: none;
    cursor: default;
}


 .modalTutorial{
	position: fixed;
	height:300px;
	width: 100%;
	top: 0;
	background: rgba(239, 103, 0, 0.7);
	z-index: 9999;
	padding: 25px;
	display: none;
}

	 .areaCarrossel{
	 	text-align: center;
	 	background: #fff;
	 	max-width: 1050px;
	 	margin: 40px auto;
	 	position: relative;
	 	    max-height: 400px;
	 	border-radius: 10px;
	}
		 .areaCarrossel .item{

		}
		 .areaCarrossel .item span{
		 	font-size: 22px;
		 	margin-bottom: 20px;
		 	display: block;
		 	font-weight: 400;
		}
		.areaCarrossel .item p{
			font-size: 17px;
			color: #ff740c;
		}	
		 .areaCarrossel .item img{
		 	width: 100%!important;
		 	display: block;
		 	border-radius: 10px;
		 	max-width: 847px;
		 	margin: 0 auto;
		}
		.areaCarrossel .item button{
			background: #f4944c;
			padding: 10px;
			color: #fff;
			text-transform: uppercase;
			font-size: 17px;
			border: none;
			border-radius: 4px;
			font-weight: 600;
		}
		.modalRecepecicao{
			max-width: 800px;
			margin: 0 auto;
			text-align: center;
			padding-top: 155px;

		}
			.modalRecepecicao strong{
				color: #fff;
				font-size: 28px;
				text-shadow: 3px 3px 3px rgb(90, 90, 90);
			}
			.modalRecepecicao p{
				color: #fff;
				font-size: 28px;
				text-shadow: 3px 3px 3px rgb(90, 90, 90);
			}
		.modalRecepecicao img{
			display: block;
			margin:0 auto;
		}
		.modalRecepecicao .buttonTutorial{
			background: #fff;
			border: none;
			padding: 10px 40px;
			font-size: 17px;
			margin-top: 22px;
			border-radius: 5px;
			border: solid 1px #fff;
			font-weight: bold;
			margin-bottom: 20px;
			outline: none;
			text-transform: uppercase;
		}
		.closes{
			display: block;
			border: solid 3px #FFF;
			border-radius: 100%;
			/* padding: 20px; */
			width: 100px;
			height: 100px;
			margin: 0 auto;
			font-size: 39px;
			color: #fff;
			line-height: 90px;
			text-align: center;
			margin-top: 120px;
			cursor: pointer;
		}
			.closes:hover{
				border-color: red;
				color: red;
			}
			.sairModal{
				border:solid 1px red;
				border-top:none;
				background: transparent;
				color: red;
				font-weight: bold;
				margin-bottom: 20px;
				outline: none;
				border-radius: 0px 0px 5px 5px;
			}
			.sairModal:hover{
				background: red;
				color: #fff;
			}
			.modalRecepecicao .buttonTutorial:hover{
				background: rgba(255, 255, 255, 0.74);
				border-color: #ef6700;
				color: #ef6700;
				font-weight:bold;
				
			}
			.modalTutorial .buttons{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background: transparent;
				font-size: 35px;
				color: #fff;
				border: solid 2px;
				border-radius: 100%;
				width: 60px;
				height: 60px;
				line-height: 0;
				z-index: 999;
				background: #f4944c;
				outline: none;

				
			}
				.modalTutorial .buttons:hover{
					background: transparent;
					color:#f4944c ;

				}
			.modalTutorial .navegacaotutorialFrent{
				left: 10px;
				
			}
			.modalTutorial .navegacaotutorialTras{
				right: 10px;
				
			}
@media(max-width: 768px){
	.closes{
		margin-top: 0;
		width: 80px;
		height: 80px;
	}
	.modalRecepecicao strong{
		font-size: 20px;
	}
	.modalRecepecicao .buttonTutorial{
		font-size: 13px;
	}
	.modalTutorial .buttons{
		top: inherit;
		transform: inherit;
		bottom: 0;
	}

}